$color-primary: #EC6336;

$color-secondary: #3D469C;

$color-black-1: #1B1B1D;
$color-black-2: #2F2F31;

$color-grey: #B3B3B3;
$color-grey-1: #999;
$color-grey-2: #EAEAEA;

$color-white: #ffffff;

/////////////////////////
/// FONT
$default-font-size: 1.6rem;
$font-family: 'Impact';


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;